<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand">NeatPagos</a>
  </div>
  <ul class="navbar-links">
    <li>
      <a routerLink="/">Inicio</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/signin">Iniciar sesión</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a routerLink="/require-auth">Área protegida</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button (click)="logout()">Cerrar sesión</button>
    </li>
  </ul>
</nav>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
