<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="brand">NeatPagos</a>
  </div>
  <ul class="navbar-links">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/signin">Login</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a routerLink="/trade">Trade</a>
    </li>
    <li *ngIf="isAuthenticated">
      <a routerLink="/transaction-history">Transactions</a>
    </li>
    <li *ngIf="isAuthenticated">
      <button (click)="logout()">Cerrar sesión</button>
    </li>
  </ul>
</nav>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
