/* styles.css */

/* Aplicar la fuente "Inter" con la variante light a todo el proyecto */
body {
  font-family: "Inter", sans-serif;
  font-weight: 300; /* Variante light */
}

.light-font {
  font-family: "Inter", sans-serif;
  font-weight: 300; /* Variante light */
}
/* Puedes añadir estilos adicionales aquí */
